.label{
    margin-left: 10%;
    margin-top: 10%;
}

.form-control{
    width:50%;
    margin-top:5%;
    margin-left: 5%;
}

.label-product-name{
    width: 20%;
    margin-top: 5%;
    text-align: center;
}

.btn{
    width: 30%;
    height: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
}