<button type="button" class="btn btn-primary" id="addEmployee" (click)="addEmployee()">Add Employee</button>

<table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col" *ngFor = "let column of displayedColumns">
            {{column}}
        </th>

        <th scope="col">
            Update
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let row of data">
        <td scope="row" *ngFor = "let column of displayedColumns">
            {{row[column]}}
        </td>

        <td scope="row">
            <button type="button" class="btn btn-warning" (click)="updateEmployee(row)" id="updateEmployee">Edit</button>
            <button type="button" class="btn btn-danger" (click)="deleteEmployee(row)">Delete</button>
        </td>
      </tr>
    </tbody>
</table>